@strawberrylemonade:registry=https://npm.pkg.github.com/strawberrylemonade//npm.pkg.github.com/:_authToken=v1.b1bed146c166755c66b33ef64db9f2e024d8bc0c
//npm.pkg.github.com/:_authToken=v1.b1bed146c166755c66b33ef64db9f2e024d8bc0c
